{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block js %}
  <script src="/static/js/homepage.jsx" type="text/jsx"></script>
  <!--In templates/homepage.html, we import a JSX file called /static/js/homepage.jsx. 
  This file is responsible for rendering the contents of the page at http://localhost:5000/.-->
{% endblock %}












{% block body %}
<!--WORKING RIGHT HERE, -->
<!-- Mount your react components on to this element. -->
<div id="app">







</div>

{% endblock %}
